server/Debug
server/Damn_maze.sln
server/Damn_maze.VC.db
server/Damn_maze.VC.VC.opendb
server/Damn_maze.vcxproj
server/Damn_maze.vcxproj.filters
server/field.png

server/field

server/app

server/build

server/dependencies/__pycache__

client/__pycache__

net_examples/server
